hostname
clientid
persistent
option rapid_commit
option interface_mtu
#option ntp_servers
require dhcp_server_identifier
slaac private

# Static IP configuration:
interface !LAN!
static ip_address=!STATIC_IP!/24
static routers=!GATEWAY!
static domain_name_servers=8.8.8.8
